<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lennyface Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lennyface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03437AF41D04C5F4003E7159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03437B0D1D04C639003E7159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0350C0D31D242CB300111854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0350C0EB1D242CB600111854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
